<template name="applicationList">
	<h1>Meteor applications</h1>
	{{#if errorMessages}}
		<ul>
			{{#each errorMessages}}
			<li>
				{{this}}
			</li>
			{{/each}}
		</ul>
	{{/if}}	

	<a href="{{pathFor 'meteorapp.add'}}">Add app</a>

	 <table class="apps">
		<thead>
			<th>Name</th>
			<th>Server</th>
			<th>Port</th>
			<th>Path</th>
			<th>PID</th>
			<th>Status</th>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>	
			{{#each apps}}
				<tr>
					<td><strong>{{name}}</strong></td>
					<td>{{server}}</td>
					<td>{{port}}</td>
					<td>{{path}}</td>
					<td>{{pid}}</td>
					<td>{{status}}</td>
					<td>
						{{#if isStarted status}}
						  <a id="stop-meteor-app" href="#">Stop</a>
						{{else}}
						  <a id="start-meteor-app" href="#">Start</a>
						{{/if}}
					</td>
					<td><a id="edit-meteor-app" href="{{pathFor 'meteorapp.edit'}}">Edit</a></td>
					<td>
						<a id="remove-meteor-app" href="#">Remove</a>
					</td>

				</tr>		
			{{/each}}
		</tbody>
	</table>
</template>