/**
 * Colors configuration
 */

 $manager-green:#1ab394;

 $manager-light-grey: #dfe4ed;
 $manager-light-blue: #4c5f71; 
 $manager-medium-blue: #2f4050;
 $manager-medium-dark-blue:#273a49;
 $manager-dark-blue:#243645; 
 $white: #FFFFFF;
