<template name="applicationList">
	{{#if successMessage}}
	<div>Yay ! : {{successMessage}}</div>
	{{/if}}

	<a href="{{pathFor 'meteorapp.add'}}">Add app</a>

	 <table class="apps">
		<thead>
			<th>PID</th>
			<th>Name</th>
			<th>Path</th>
			<th>Port</th>
			<th>Status</th>
		</thead>
		<tbody>	
			{{#each apps}}
				<tr>
					<td>{{pid}}</td>
					<td>{{name}}</td>
					<td>{{path}}</td>
					<td>{{port}}</td>
					<td>{{status}}</td>
					<td>
						{{#if isStarted status}}
						  <a id="stop-meteor-app" href="#">Stop</a>
						{{else}}
						  <a id="start-meteor-app" href="#">Start</a>
						{{/if}}
					</td>
					<td>
						<a id="remove-meteor-app" href="#">Remove</a>
					</td>

				</tr>		
			{{/each}}
		</tbody>
	</table>
</template>